.master-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}

.q-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

.view{
    margin-top: 50px;
    width: 80%;
}

.top{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awareness{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.awareness h3{
    cursor:pointer;
}

.user-name{
    color: red;
}

img{
    height:15px;
    width: 15px;
    padding: 10px;
}

.drop-down-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}