.t-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.table-container {
    border-collapse: collapse;
    width: 90%;
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .table-container th {
    background-color: #f2f2f2;
    color: black;
  }

  .table-container-qualified {
    color: lime;
  }
  
  .table-container tr:hover {
    background-color: #ddd;
  }
  
  .table-container th {
    background-color: #ff0000;
    color: white;
  }


  .d-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Adjust width as needed */
    height:auto;
    padding-top: 80px;
    padding-bottom: 50px;
  }