.login-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-container {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;

  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .table-container th {
    background-color: #f2f2f2;
    color: black;
  }

  .table-container-qualified {
    color: lime;
  }
  
  .table-container tr:hover {
    background-color: #ddd;
  }
  
  .table-container th {
    background-color: #ff0000;
    color: white;
  }











.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:86vh;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.user-name{
    color: red;
}

.container-sign {
    background-color: #00b406; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* Adjust as needed */
    cursor: pointer;
    border-radius: 8px;
    transition: rgb(29, 255, 29) 0.3s ease;
}

.container button :hover {
    background-color: #45a049; /* Darker green on hover */
}