textarea {
    height: 100px; /* Adjust as needed */
    resize: none;
    width :400px;
    margin: 20px;
}

.addq-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}